html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

#app {
  display: flex;
  height: 100%;
  user-select: none;
  --el-border-color: rgb(232, 234, 236);
}

.cell-overflow-visible {
  overflow: visible !important;
  > .vxe-cell {
    overflow: visible !important;
  }
}

.splitpanes.default-theme {
  .splitpanes__pane {
    background-color: transparent;
  }
  $splitter: '.splitpanes--vertical > .splitpanes__splitter';
  &#{$splitter},
  & #{$splitter} {
    width: 8px;
    border-right: 1px solid var(--el-border-color);
    border-left-color: rgb(232, 234, 236);
    margin-right: -1px;
    background-color: #fafafa;
    z-index: 10;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.cursor-pointer {
  cursor: pointer;
}
